* {
	color: red;
	background-color: black;
}
header {
	border-style: solid;
	border-width: medium;
	border-color: red;
	text-align: center;
	font-weight: bolder;
}
nav {
	margin-top: 10px;
}
label{
	color: yellow;
	font-weight: bold;
}
input {
	color: black;
	background-color: white;
	position: static;
}
img{
	background-color: white;
}
main {
	margin-top: 2%;
}
section{
	width: 33%;
	text-align: center;
	float: left;
}
footer{
	text-align: center;
	width: 33%;
}
table{
	border-collapse: collapse;
	font-size: large;
	margin-right: auto;
	margin-left: auto;
}
caption{
	color: grey;
}
td{
	color: yellow;
	border: solid red;
}
ul{
	overflow:hidden;
	overflow-y:scroll;
}

.elemName{
	cursor: pointer !important;
}
.elemName:hover{
	text-decoration: underline;
	background-color: rgb(64, 64, 64);
}